/* Présenation grid */
  .presentation {
    padding: 0.5em 0em 3em 0em;
    h1 {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Montserrat',serif;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 4em;
    text-transform: uppercase;
  }
   p{
    color: #fff;
    font-size: 1.2em;
    font-family: 'Playfair Display',serif;
    font-weight: 400;
    letter-spacing: 9px;
    line-height: 1em;
    font-style: italic;
   }

}


/* A propos grid */
.title-text {
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  text-transform: uppercase;
  font-family: 'Montserrat',serif;
  color: #F5F5F5;
  padding: 2.2em 0em 0em 2.2em;
}


  img {
  width: 7em;
  height: 7em;
  border-radius: 2%;
  }














@media screen and (max-width: 1200px) {
  .presentation {
    padding-left: 0em;
  }
}
