
.logo {
  background: #0B0B0B;
  height: 6.4em;
  padding-top: 0.5em;
  p {
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2.5;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    color: #F5F5F5;
    margin: 0em 12em 0em 12em ;
    &:first-child {
      border-bottom: 1px solid;
    }
  }
}

.expanded {
  background-color: #0B0B0B;
}

.icon-top li > a {
  color: inherit;
  text-decoration: none;
  font-size: 0.35em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  color: #ADB1B1;
  padding: 0;
    &:hover {
       color: white;
    }
  .l {
    font-size: 1.5em;
  }
}



/* Présenation grid */
  .presentation {
    background-color: #1A1A1A;
    margin-bottom: 0.5em;
    padding: 0.9em 1.3em 0.9em 1.3em;
   p{
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.25em;
    line-height: 1.4em;
    text-transform: uppercase;
    font-family: 'Montserrat',serif;
    color: #F5F5F5;
   }

}


/* A propos grid */
.title-text {
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  text-transform: uppercase;
  font-family: 'Montserrat',serif;
  color: #F5F5F5;
  padding: 2.2em 0em 0em 2.2em;
}

.compétences {
  background-color: #1A1A1A;
    margin-top: 1em;
      h1 {
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  }
}


.a-propos {
  background-color: #1A1A1A;
  margin-top: 1em;
  h1 {
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  }
  h2 {
    font-size: 0.4em;
    font-weight: 400;
    letter-spacing: 0.3em;
    font-family: 'Roboto',sans-serif;
    color: #fff;
    font-style: italic;
    text-align: center;
    padding-bottom: 2em;
  }
  p {
    font-size: 0.3em;
    font-weight: 400;
    letter-spacing: 0.2em;
    font-family: 'Roboto',sans-serif;
    color: #677273;
    text-align: justify;
  }
}









@media screen and (max-width: 1200px) {
  .presentation {
    padding-left: 0em;
  }
}


















@media screen and (max-width: 1200px) {

}

