<div data-sticky-container>
  <div class="sticky" data-sticky stickTo="top" data-margin-top="0">
    <nav class="top-bar" data-magellan activeClass="active">
      <div class="menu icon-top expanded horizontal">
        <li><a href="#one"><i class="l fi-torso"></i> <span>À propos</span></a></li>
        <li><a href="#two"><i class="l fi-web"></i> <span>Compétences</span></a></li>
        <li><a href="#three"><i class="l fi-foot"></i> <span>Parcours</span></a></li>
        <li><a href="#four"><i class="l fi-archive"></i> <span>Réalisations</span></a></li>
        <li><a href="#five"><i class="l fi-mail"></i> <span>Contact</span></a></li>
      </div>
    </nav>
  </div>
</div>

<!-- <div class="sections">
<section id="one" data-magellan-target="one">First Section</section>
<section id="two" data-magellan-target="two">Second Section</section>
<section id="three" data-magellan-target="three">Third Section</section>
<section id="four" data-magellan-target="four">Third Section</section>
<section id="five" data-magellan-target="five">Third Section</section>
</div>
 -->
