<div class="row logo">
<div class="columns medium-12">
  <p class="text-center">Fremin Florian</p>
  <p class="text-center">Développeur Web</p>
</div>
  <div data-sticky-container>
    <div class="sticky" data-sticky stickTo="top" data-margin-top="0">
      <div class="menu icon-top expanded horizontal">
        <li><a href="#one"><i class="l fi-torso"></i> <span>À propos</span></a></li>
        <li><a href="#two"><i class="l fi-web"></i> <span>Compétences</span></a></li>
        <li><a href="#three"><i class="l fi-foot"></i> <span>Parcours</span></a></li>
        <li><a href="#four"><i class="l fi-archive"></i> <span>Réalisations</span></a></li>
        <li><a href="#five"><i class="l fi-mail"></i> <span>Contact</span></a></li>
      </div>
    </div>
  </div>
</div>
<div class="row a-propos">
  <div class="columns medium-4 small-12">
    <br>
    <%= image_tag 'Logo_computer.png' %>
  </div>
  <div class="columns medium-8 small-12">
    <h1>À propos</h1>
    <h2>Qui suis-je ?</h2>
    <p>Je m'appelle Florian, Fremin, j'ai 21 ans et je suis développeur Web Full Stack Ruby on Rails.
      <br><br>
      Issu du monde du commerce et du management, j'ai eu l'occasion en 2017 de réaliser la formation proposée par Le Wagon à Bordeaux qui promet de devenir développeur Web en
      2 mois.
      <br><br>
    Le web m'a toujours passionné et cette formation m'a permis de valider mon projet professionnel de devenir Développeur Web. Maintenant je suis à la recherche d'un emploi pour continuer à m'épanouir dans le web.</p>
  </div>
</div>
<div class="row compétences">
  <div class="columns small-12">
    <h1>Compétences</h1>
  </div>
</div>
<!-- <div class="sections">
<section id="one" data-magellan-target="one">First Section</section>
<section id="two" data-magellan-target="two">Second Section</section>
<section id="three" data-magellan-target="three">Third Section</section>
<section id="four" data-magellan-target="four">Third Section</section>
<section id="five" data-magellan-target="five">Third Section</section>
</div>
-->
