<div class="row expanded">
  <div class="columns medium-12 presentation text-center">
    <h1>Fremin Florian</h1>
    <p> CV Développeur web</p>
    <p>Full Stack</p>
  </div>
</div>
<div class="row expanded">
  <div class="columns small-12 text-center title-text">
    <p>À PROPOS</p>
    <p>Mon profil en quelques mots</p>
  </div>
  <div class="columns medium-4 small-12 text-center">
    <%= image_tag 'avatar' %>
  </div>
  <div class="columns medium-8"><p>Yooo</p></div>
</div>
