body {
  background: rgba(160, 160, 160, 0.3);
}

  .icon-top li > a {
    color: inherit;
    text-decoration: none;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2.5;
    text-transform: uppercase;
    &:hover {
       color: #7E7E7E;
    }
    .l {
      font-size: 2em;
    }
  }

  .my-title-bar {
    padding-top: 10px;
  background-color: rgba(160, 160, 160, 0.5);
  p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    line-height: 2;
    text-transform: uppercase;
  }
  }
@media screen and (max-width: 1200px) {

}
